body{
	text-align: center;
}
#text{
	font:bold 30px Century Gothic;
}
div[id^='box']{
	display:block;
	width:500px;
	margin: 150px auto;
	padding: 15px;
	text-align: center;
	border: 7px solid green;
	background: yellow;  /*Change background to gradient*/
	-webkit-transition: -webkit-transform 1s; /*transition will slow the animation, in this case hover*/
	/*-webkit-transform:scale(1.5);*/ /*transform by scale*/
	/*-webkit-transform:scale(1,3);*/ /*Transfrom by x,y corrds*/
	/*-webkit-transform:scale(-1,1);*/ /*Transfrom by reverse*/
	/*-webkit-transform:rotate(45deg);*/ /*Transform to rotate*/
	/*-webkit-transform:skew(30deg);*/ /*Transform to skew*/
	/*-webkit-transform:translate(150px, 300px);*/ /*Transform to move*/
}
#box1:hover{
	-webkit-transform:rotate(45deg); /*Rotate when mouse is hoving over*/
}
#box2:hover{
	-webkit-transform:scale(1.5); /*Scale when mouse is hoving over*/
}
#box3:hover{
	-webkit-transform:scale(-1,1);; /*Reverse scale when mouse is hoving over*/
}
#box4:hover{
	-webkit-transform:skew(30deg); /*Skew when mouse is hoving over*/
}
#box5:hover{
	-webkit-transition: -webkit-transform 2s;
	-webkit-transform: rotate(360deg);
	opacity: 1;
	background: #1ec7e6;
	width: 450px;
	height: 110px; /*Rotate when mouse is hoving over*/
}